<h1> Tic Tac Toe </h1>

<button>New Game</button>

<p>  </p>

<table border="1" style="width:300px">
	<style>
		table,th,td
		{
		border:2px solid black;
		border-collapse: collapse
		}
		th,td
		{
		text-align:center;
		}
	</style>
	<tr>
		<td height="100"><button><% @player.button1 %></button></td>
		<td height="100"><button><% @player.button2 %></button></td>
		<td height="100"><button><% @player.button3 %></button></td>
	</tr>
	<tr>
		<td height="100"><button><% @player.button4 %></button></td>
		<td height="100"><button><% @player.button5 %></button></td>
		<td height="100"><button><% @player.button6 %></button></td>
	</tr>
	<tr>
		<td height="100"><button><% @player.button7 %></button></td>
		<td height="100"><button><% @player.button8 %></button></td>
		<td height="100"><button><% @player.button9 %></button></td>
	</tr>
</table>

<p>Today is <%= @player.pickdate %>.</p>